.btn-add-to-cart{

    background-color: #fab005;
    border:1px solid #fab005;
    color:#495057;
    font-size: 16px;
    font-weight: 600;



}

.btn-add-to-cart:hover{
    

        color: #fab005;
        background-color:#495057;
        font-size: 16px;
        font-weight: 600;
        border: 1px solid #495057;
    
    
    
   
}


#card{
    width: 300px;
    height: 400px;
    box-shadow: 10px 10px 20px lightgrey;
    border: 2px solid #fab005;
    border-radius: 5px;
    margin: 10px;
    padding: 10px;
    text-align: center;

}

#card-photo{
    width: 99%;
    height: 250px;
    text-align: center;
    margin: 0 auto;
    border-radius: 5px;
}

#card-photo img{
    height: 92%;
    margin: 5px auto;
}

#card-content{
    display: flex;
    align-items: center;
    justify-content: space-between;
}